body {
  overflow-x: hidden;
  font-family: "Ubuntu";
}

.content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../media/background.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.3) blur(1px);
  z-index: -2;
}

.container {
  margin-top: 50px;
}

/*************************************************************************************************/

.card {
  margin: 3%;
  padding: 0;
  text-align: center;
}

.card-header {
  min-height: 7rem;
  color: #333333;
}

.card-header,
.card-footer {
  background-color: #f5f5dc;
}

.card-body {
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.cardImg {
  max-width: 80%;
  max-height: 80%;
  margin: 0 1rem;
}

.card-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.card-details {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.card-button {
  margin: 2%;
  background-color: #333333;
  color: #ffffff;
  border: none;
}

#removeButton {
  background-color: #df0101;
}

/*************************************************************************************************/

#searchFilterContainer,
.view-book-page {
  border: 0.1rem solid rgba(255, 255, 255, 0.682);
  background-color: rgba(87, 87, 87, 0.186);
  border-radius: 10px;
  padding: 1rem;
}

.search-button-container {
  text-align: right;
}

#genreSelect:hover,
#ratingsSelect:hover {
  cursor: pointer;
}

.date-input {
  padding: 0.2rem;
}

#search-icon,
#cart-icon,
#home-icon,
#logout-icon,
#edit-icon {
  max-width: 1.5rem;
}

#library-icon {
  max-width: 3rem;
}

/*************************************************************************************************/

.navbar-nav > li {
  margin-right: 20px;
}

.navbar-brand {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  background-color: #f5f5dc;
  position: sticky;
  top: 0px;
  z-index: 999;
  border: 1px #333333 solid;
}

.nav-link,
.navbar-brand {
  color: var(--bs-card-title-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #000066;
  text-decoration: underline;
}

/*************************************************************************************************/

.form-group {
  padding: 2%;
}

.buy-button,
.edit-button,
.add-to-cart-button {
  background-color: #ffc107;
  color: black;
  border: 0;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-striped tbody tr {
  background-color: rgba(255, 255, 255, 0.7);
}

.table-striped tbody tr:nth-of-type(2n) {
  background-color: rgba(255, 0, 0, 0.3);
}
